<h1>Welcome!</h1>

<div class="rnd2_content">
<center>
  <div style="width:650px;text-align:left;font-size:12pt;">
    <p>You are about to answer five questions about your experience.</p>

    <p>Take as much time as you want, but you only get 300 characters per answer :)</p>

    <p style="margin-top:20px;font-weight:bold"><%= link_to "Click here to begin...", question_survey_path(@user.id, 1) %></p>
  </div>
</center>
</div>