[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
[submodule "vendor/plugins/background-fu"]
	path = vendor/plugins/background-fu
	url = git://github.com/ncr/background-fu.git
