/* line 1, ../../../app/stylesheets/twitter.sass */
body {
  background: white url(/images/twitter/bg.gif);
  font-family: "Lucida Grande",Arial,Sans-serif;
  font-size: 13px; }
  /* line 6, ../../../app/stylesheets/twitter.sass */
  body #container {
    width: 950px;
    margin: 0 auto; }
    /* line 10, ../../../app/stylesheets/twitter.sass */
    body #container .uparrow {
      padding: 0px 15px;
      height: 11px; }
    /* line 14, ../../../app/stylesheets/twitter.sass */
    body #container #box {
      margin: 0px;
      width: 550px;
      padding: 20px 50px 20px 80px;
      background: white; }
      /* line 20, ../../../app/stylesheets/twitter.sass */
      body #container #box .title {
        font-size: 2em;
        padding-top: 20px; }
      /* line 24, ../../../app/stylesheets/twitter.sass */
      body #container #box #zip {
        margin: 15px 0px; }
        /* line 27, ../../../app/stylesheets/twitter.sass */
        body #container #box #zip #zipcode {
          border: 2px solid #DDDDDD;
          color: #942C2C;
          font-family: Arial,Helvetica,sans-serif;
          font-size: 24px;
          font-weight: bold;
          height: 30px;
          padding-left: 5px; }
        /* line 36, ../../../app/stylesheets/twitter.sass */
        body #container #box #zip #submit {
          margin-left: 30px;
          height: 30px;
          width: 100px;
          padding: 10px;
          font-weight: bold; }
      /* line 45, ../../../app/stylesheets/twitter.sass */
      body #container #box .tweet #reps {
        margin: 15px;
        border: 1px solid #999999;
        padding: 0px 10px 10px 10px;
        font-family: Courier; }
        /* line 53, ../../../app/stylesheets/twitter.sass */
        body #container #box .tweet #reps .message {
          margin-top: 15px; }
      /* line 56, ../../../app/stylesheets/twitter.sass */
      body #container #box .tweet table.twitter {
        margin-top: 15px; }
        /* line 59, ../../../app/stylesheets/twitter.sass */
        body #container #box .tweet table.twitter th {
          font-weight: bold;
          text-align: right; }
      /* line 63, ../../../app/stylesheets/twitter.sass */
      body #container #box .tweet #submit {
        text-align: center;
        padding: 25px; }
      /* line 67, ../../../app/stylesheets/twitter.sass */
      body #container #box .report {
        font-size: 10px; }
  /* line 70, ../../../app/stylesheets/twitter.sass */
  body #footer {
    padding-top: 50px;
    font-size: .8em;
    text-align: center; }

/* line 76, ../../../app/stylesheets/twitter.sass */
#flash .notice, #flash .message {
  border: 5px solid #9c9;
  background-color: #cfc;
  padding: 5px;
  margin: 10px 0; }
/* line 82, ../../../app/stylesheets/twitter.sass */
#flash .warning {
  border: 5px solid yellow;
  background-color: #FFFFCC;
  padding: 5px;
  margin: 10px 0;
  color: black; }
/* line 89, ../../../app/stylesheets/twitter.sass */
#flash .error {
  border: 5px solid #990000;
  background-color: red;
  padding: 5px;
  margin: 10px 0;
  color: white; }

/* line 97, ../../../app/stylesheets/twitter.sass */
.errorExplanation {
  border: 5px solid #990000;
  background-color: red;
  padding: 5px;
  margin: 10px 0;
  color: white; }

/* line 105, ../../../app/stylesheets/twitter.sass */
.fieldWithErrors {
  border: 5px solid red; }
