
/* root element for scrollable */
div.scrollable {  
	/* required settings */
	position:relative;
	overflow:hidden;	

	/* vertical scrollers have typically larger height than width */	
	height: 650px;
	width: 170px;
	
	/* decoration */
	padding:0px 5px 0px 5px;
  margin:10px;
	border:1px outset #ccc;
	background-color:#E1EDA6;
	
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}


/* root element for scrollable items */
div.scrollable div.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	
	/* decoration */
	margin-top:10px;
}

/* 
	same settings as in horizontal scroller except that these items 
	are not floated
*/
div.scrollable div.items div {
	text-align:center;
	width:168px;
	padding:5px 0px 0px 0px;
	font-size:14px;
	font-family: 'bitstream vera sans';
	border:1px outset #ccc;
	background-color: #fff;
	-moz-border-radius:5px;
	margin-bottom:10px;
}

/* active item */
div.scrollable div.items div.active {
	border:1px inset #ccc;		
	background-color:#fff;
}

/* highlighted item */
div.scrollable div.items div.highlight {
    background-color:#5B9732;
    color:white;
}
