Tax Exempt Status

The Gwendolyn Strong Foundation is a nonprofit 501(c)(3) public charity. As such, all donations are tax deductible to the fullest extent allowed by the law.

Donate Online

You can make an instant donation online using any major credit card or your PayPal account. Please click below to make an instant donation:

INCLUDE DONATE NOW BUTTERFLY BUTTON HERE (CENTERED)

Donate By Check

Please make your check payable to "Gwendolyn Strong Foundation" and send to:

Wells Fargo Bank
1036 Anacapa Street
Santa Barbara, California 93101

As an alternative, you can give or send your check made payable to "Gwendolyn Strong Foundation" to any Wells Fargo Bank (LINK WELLS FARGO BANK TO THE FOLLOWING LINK - https://www.wellsfargo.com/locator/) branch.