.uparrow
  = image_tag("/images/twitter/arr2.gif", :border => "0", :align => "bottom" )
#box
  .title
    Tweet Sent!  Thank you so much!
  
  #thankyou
    %p
      Thank you for helping END Spinal Muscular Atrophy (SMA), the #1 genetic killer of young children!
    
    %p
      Please also visit <a href="http://PetitionToCureSMA.com">http://PetitionToCureSMA.com</a> to sign our free online petition in 
      support of legislation that, if passed, will help END SMA once and for all.
      
    %p
      /
        AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        %a.addthis_button_compact{ :href => "http://www.addthis.com/bookmark.php?v=250&amp;pub=strongbill" }
          Share
        %span.addthis_separator
          |
        %a.addthis_button_facebook
        %a.addthis_button_myspace
        %a.addthis_button_google
        %a.addthis_button_twitter
      %script{ :type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js?pub=strongbill" }
      /
        AddThis Button END

  
      
    
      
