#box
  #update_status
    %p
      %b Please wait.  We are attempting to send your tweets, which should be live in a few moments...
    %p(align="center")
      = image_tag("/images/spinner.gif", :border => "0")