%h1
  About Spinal Muscular Atrophy (SMA)
%h2
  SMA Statistics
%ul
  %li
    SMA is the #1 genetic killer of young children.
  %li
    SMA is estimated to occur in nearly 1 out of every 6,000 births.
  %li
    1 in every 40 people, or nearly 10 million Americans, UNKNOWINGLY carries the gene responsible for SMA. Few have any known family history.
  %li
    SMA is a pan-ethnic disease and does not discriminate based on race, ethnicity, or gender.
  %li
    There is currently no treatment and no cure, but the National Institutes of Health (NIH) selected SMA as the disease closest to treatment of more than 600 neurological disorders.
  %li
    Researchers estimate that a viable treatment and/or cure is attainable in as little as 5 years – IF provided adequate resources.
  %li
    The American College of Medical Genetics recommends that SMA carrier testing be made available to ALL couples planning a family, regardless of ethnicity or family history.
%h2
  What is SMA?
%p
  Most babies with SMA are born after a normal pregnancy, are seemingly healthy, and pass all current newborn screenings. SMA is a terminal and degenerative disease that causes weakness and wasting of the voluntary muscles in infants and children. Specifically, the disease is caused by an abnormal or missing gene known as the survival motor neuron gene (SMN1), which is responsible for the production of a protein essential to motor neurons. Without this protein, lower motor neurons in the spinal cord degenerate and die. As the motor neuron network breaks down, the ability of the brain to control muscles diminishes and with less control and use, muscles weaken and waste away. Simply, SMA eventually impacts every muscle in the body hindering the ability to walk, sit, stand, eat, breathe, and swallow. The mind always remains unaffected and children with SMA are bright, sensitive, and playful in spite of their failing bodies.
%h2
  How does SMA occur?
%p
  Approximately 1 in 35 people, or nearly 10 million Americans, unknowingly caries the gene responsible for SMA. These people are referred to as “carriers”. Non-carriers have two healthy copies of the SMN1 gene. But, carriers have one healthy SMN1 copy and one defective, mutated SMN1 copy. The one healthy SMN1 gene is more than sufficient to direct the production of SMN protein in carriers. However, when two carriers have a child, that child randomly gets one SMN1 gene from each parent: 25% of the time that child receives two healthy SMN1 genes (one from each parent); 50% of the time that child gets one healthy SMN1 gene and one defective SMN1 gene; and 25% of the time that child gets two defective SMN1 genes. It is this last 25%, where the child is passed two defective, mutated SMN1 genes, in which the active form of SMA occurs and the child is left without the functioning SMN1 gene that is responsible for the production of a protein essential to motor neurons. Most couples that have a child with SMA had no known prior family history.
%h2
  How is SMA diagnosed?
%p
  SMA can be diagnosed through a simple blood test that screens for deletion of the gene called survival motor neuron, SMN1.
%h2
  Are there different Types?
%p
  In general, there are four types associated with the group of diseases known as SMA: Type I, II, III, and IV. The type is generally determined by the age of onset and the severity of symptoms.
%h2
  What is the prognosis?
%p
  The prognosis varies between the different Types. Type I children typically die before they reach the age of two. For Type II children the prognosis for life expectancy ranges from early childhood to early adulthood. Type III and Type IV typically live into adulthood and some Type IV’s can have a close to normal life expectancy. All Types experience muscle degeneration, but at varying speeds and severity with Type I progressing the most rapidly.
%h2
  Is there a treatment or cure?
%p
  No. Research and the potential for both a viable treatment and even a cure is promising, but there is currently nothing to stop SMA from progressing.
%h2
  Is there Carrier Screening?
%p
  Yes. A simple blood test will determine if you are a carrier of SMA. Both parents must be carriers for the baby to have the active form of SMA. Currently you must request this test from your doctor, as it is not yet a standard test. Visit the
  %a{ :href => "http://www.ClaireAltmanHeineFoundation.org", :target => "blank" }
    Claire Altman Heine Foundation
  for more information on carrier screening.
