<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="178" class="inlf"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="nav"><a href="#">About Gwendolyn</a></td>
        </tr>
        <tr>
          <td class="nav" id="selected"><span><a href="#">About SMA</a></span></td>
        </tr>
        <tr>
          <td class="nav"><a href="#">Newly Diagnosed</a></td>
        </tr>
        <tr>
          <td class="nav"><a href="#">Gallery</a></td>
        </tr>
        <tr>
          <td class="nav"><a href="#">Links</a></td>
        </tr>
    </table></td>
    <td width="569" class="incontent"><table width="557" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td class="headerpic"><img src="images/img_pics/pic_about.jpg" alt="" width="557" height="147" /></td>
        </tr>
        <tr>
          <td><div id="rnd2_container"> <b class="rnd2_top"><b class="rnd2_b1"></b><b class="rnd2_b2"></b><b class="rnd2_b3"></b><b class="rnd2_b4"></b></b>
              <div class="rnd2_content">
                <h1>About SMA</h1>
                <p>
                  Spinal Muscular Atrophy (SMA) is a group of hereditary (genetic) diseases that cause weakness and wasting of the voluntary muscles in infants and children. SMA is a terminal, degenerative disease and there is currently no treatment and no cure.
                </p>
                <h2>
                  SMA Statistics
                </h2>
                <ul>
                  <li>	SMA is the #1 genetic killer of children under the age of 2.
                  <li>	SMA is estimated to occur in nearly 1 out of every 6,000 births.
                  <li>	The gene mutation that causes SMA is UNKNOWINGLY carried by 1 in every 30 to 40 people or nearly 8 to 10 million Americans. Few have a known family history.
                  <li>	SMA is a pan-ethnic disease it does not discriminate based on ethnicity, race, or gender.
                  <li>	There is currently no treatment and no cure, but the National Institutes of Health (NIH) and the National Institute of Neurological Disorders and Stroke (NINDS) have selected SMA as the disease closest to treatment of more than 600 neurological disorders.
                  <li>	Researchers estimate that a treatment and/or cure could be attained in as little as 5 years IF given adequate resources.
                  <li>	The American College of Medical Genetics recommends that SMA carrier testing be made available to ALL couples planning a family, regardless of ethnicity, family history, or prior children.
                </ul>

                <h2>What is SMA?</h2>
                <p>
                  SMA is a terminal and degenerative disease that causes weakness and wasting of the voluntary muscles in infants and children. Specifically, the disease is caused by an abnormal or missing gene known as the survival motor neuron gene (SMN1), which is responsible for the production of a protein essential to motor neurons. Without this protein, lower motor neurons in the spinal cord degenerate and die. As the motor neuron network breaks down, the ability of the brain to control muscles diminishes and with less control and use, muscles weaken and waste away. Simply, SMA eventually impacts every muscle in the body hindering the ability to walk, sit, stand, eat, breathe, and swallow. The mind always remains unaffected and children with SMA remain bright, sensitive, and playful in spite of their failing body.
                </p>

                <h2>
                  Are there different Types?
                </h2>
                <p>
                  In general, there are four types associated with the group of diseases known as SMA: Type I, II, III, and IV. The type is generally determined by the age of onset and the severity of symptoms.
                </p>
                <h2>
                  How is SMA diagnosed?
                </h2>
                <p>
                  SMA can be diagnosed through an extremely simple blood test that screens for deletion of the gene called survival motor neuron, SMN1.
                </p>
                <h2>
                  How does SMA occur?
                </h2>
                <p>
                  The gene mutation that causes SMA is unknowingly carried by 1 in every 30 to 40 people, or nearly 8 to 10 million Americans. These people are referred to as carriers. Non-carriers have two healthy copies of the SMN1 gene. But, carriers have one healthy SMN1 copy and one defective, mutated SMN1 copy. The one healthy SMN1 gene is more than sufficient to direct the production of SMN protein in carriers. However, when two carriers have a child, that child randomly gets one SMN1 gene from each parent: 25% of the time that child receives two healthy SMN1 genes (one from each parent); 50% of the time that child gets one healthy SMN1 gene and one defective SMN1 gene; and 25% of the time that child gets two defective SMN1 genes. It is this last 25%, where the child is passed two defective, mutated SMN1 genes, in which the active form of SMA occurs and the child is left without the functioning SMN1 gene that is responsible for the production of a protein essential to motor neurons. Most couples that have a child with the active form of SMA had no prior family history of the disease.
                </p>
              </div>
          <b class="rnd2_bottom"><b class="rnd2_b4"></b><b class="rnd2_b3"></b><b class="rnd2_b2"></b><b class="rnd2_b1"></b></b> </div></td>
        </tr>
    </table></td>
    <td width="170" class="inrg"><table width="173" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="sidepic"><img src="images/img_pics/pic_about_side.jpg" alt="" width="170" height="255" /></td>
        </tr>
        <tr>
          <td><a href="#"><img src="images/img_buttons/btn_donatenow.jpg" alt="Show your support - Donate Now!" width="170" height="61" /></a></td>
        </tr>
    </table></td>
  </tr>
</table>