#chase
  %h1
    WE. DID. IT! Winner's Circle. 6th Place. $100,000. Incredible.
  %h2
    Never doubt that a small group of thoughtful, committed citizens can change the world. Indeed, it's the only thing that has. -- Margaret Mead
  %p
    We did it! We really, truly did! Together, we accomplished the monumental. Together, we raised an ENORMOUS amount of awareness for SMA. Together, we are having a material impact on curing it. Together, we are changing this cruel disease -- FOREVER! Out of more than 500,000 charities, the Gwendolyn Strong Foundation, striving to END SMA, received nearly 52,000 votes in 8 days and placed 6th -- sixth place! For that honor, we are in the "Winner's Circle" and will receive a $100,000 grant from Chase to accelerate awareness and research toward a cure.
  %p
    Never before have we been part of something like this -- a true grassroots movement. Something so much bigger than ourselves. Baring witness to a change occurring -- a shift in what has been before. We are humbled, moved, and motivated by the extraordinary that has happened this week.
  %p
    We are so proud of the amazing SMA community. The families who virtually stopped all else in their lives. The parents who ferociously fought and bore their souls to expose the agonizing reality of this disease. And did so with painfully beautiful poignancy.
  %p
    We are humbled by the extraordinary acts of kindness, the grassroots activism, the tireless persevering, the enormous favors called in from those both impacted by SMA and not, but who regardless took it up as their passionate cause -- because it is important to all of us that this horrible, awful disease be cured.
  %p
    The things we witnessed people doing, the energy and creativity behind each effort, the pure passion to prop the Gwendolyn Strong Foundation and SMA on our collective shoulders and compete against these much larger organizations to remain on the leaderboard -- person by person, family by family, company by company, organization by organization, ask by ask, email by email, tweet by tweet, vote by vote. Each of us refused to relent. And we know we are only aware of a fraction of what occurred in this movement. Take a look at this incredible list (link to --- http://www.gwendolynstrong.com/2010/01/we-dit-it-6th-place-100000-incredible.html) of celebrities, athletes, musicians, organizations, publications, blogs, etc. that threw their support behind our cause. Humbling. Simply humbling.
  %p
    The Gwendolyn Strong Foundation doesn't have a fancy national headquarters or hundreds of chapters or a big marketing budget or a team of employees. No, we're just two parents in a house in Santa Barbara, California with two MacBook laptops caring for our terminally ill two-year-old daughter and fighting any way we can to save her life. But, in this Chase campaign the Gwendolyn Strong Foundation was much, much more than the three of us. It was also two parents in a house in New York. And three people in a house in Spain. And three people in a house in Ohio. And 25 people at a company in Mississippi. And one family in a house in Australia. And one person in a house in Texas. And five people in a house in Arizona. And two people in a house in the England. The list goes on and on. And together -- collectively -- UNITED -- relentlessly -- all of our amazing individual efforts and our enormous unwavering passion amassed into this wonderful grassroots effort.
  %p
    We should all be so proud of ourselves. We have done something that has never been done before. We always knew this Chase Community Giving campaign was an incredible opportunity for SMA, but it has become so much more than we could have ever imagined. We are so very honored to have fought for this with you. Together, we have helped change the future of this cruel disease.
  %p
    Thank you!
  %p
  %br
    Sincerely -- Bill, Victoria, and Gwendolyn Strong
    
  #video
    %object{ :height => "344", :width => "425" }
      %param{ :name => "allowfullscreen", :value => "true" }
      %param{ :name => "allowscriptaccess", :value => "always" }
      %param{ :name => "movie", :value => "http://vimeo.com/moogaloop.swf?clip_id=8499792&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" }
      %embed{ :src => "http://vimeo.com/moogaloop.swf?clip_id=8499792;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1&autoplay=1", :allowfullscreen => "true", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :height => "344", :width => "425" }

  