<h1>Contact Us</h1>

<div style="margin-top:20px">
<p>
  Gwendolyn Strong Foundation<br>
  27 W. Anapamu Street, #177<br>
  Santa Barbara, California 93101<br>
  <%= mail_to "info@GwendolynStrongFoundation.org" %>
</p>
</div>

<div style="margin-top:30px">
  <p>
    If you have questions or just want to get in touch with us, please feel free to <br>
      contact us at:
  </p>
  <p>
    <b>Bill Strong</b> - <%= mail_to "bill@GwendolynStrongFoundation.org" %>
  </p>
  <p>
    <b>Victoria Strong</b> - <%= mail_to "victoria@GwendolynStrongFoundation.org" %>
  </p>
</div>