%h1
  Donations
%h2
  Tax Exempt Status
%p
  The Gwendolyn Strong Foundation is a nonprofit 501(c)(3) public charity. As such, all donations are tax deductible to the fullest extent allowed by the law.  Our tax I.D. number is 26-4734446.

%h2
  Donate Online
%p
  You can make an instant donation online using any major credit card or your PayPal account. Please click below to make an instant donation:
%div{ :style => "margin:25px 0px" }
  %center
    = link_to image_tag("img_buttons/btn_donatenow.jpg", :border => "0", :alt => "Show your support - Donate Now!"), 'https://co.clickandpledge.com/?wid=37247&trk=gsf' 
%h2
  Donate By Check
%p
  Please make your check payable to
  %b
    "Gwendolyn Strong Foundation"
  and send to:
%p
  Gwendolyn Strong Foundation 
  %br
  27 W. Anapamu Street, Suite 177
  %br
  Santa Barbara, California 93101
  %br

:javascript
  function validateAmount(amount){
    if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
    return true;
    }else{
    alert('You must enter a valid donation.');
    amount.focus();
    return false;
    }
  }
