<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="178" class="inlf"></td>
    <td width="569" class="incontent"><table width="557" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td class="headerpic"><img src="images/img_pics/pic_about.jpg" alt="" width="557" height="147" /></td>
        </tr>
        <tr>
          <td><div id="rnd2_container"> <b class="rnd2_top"><b class="rnd2_b1"></b><b class="rnd2_b2"></b><b class="rnd2_b3"></b><b class="rnd2_b4"></b></b>
              <div class="rnd2_content">
                <h1>Donations</h1>

                <h2>
                  Tax Exempt Status
                </h2>

                <p>
                  Our application for tax exempt 501(c)(3) status is in process. While our application is pending, we cannot assure donors that contributions will be tax deductible.
                </p>

                <h2>
                  Donate Online
                </h2>

                <p>
                  You can make an instant donation online using any major credit card or your PayPal account. Please click below to make an instant donation:
                </p>

                <div style="margin:25px 0px">
                  <center>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                      <input type="hidden" name="cmd" value="_s-xclick">
                      <input type="hidden" name="hosted_button_id" value="5139235">
                      <input type="image" src="http://gwendolynstrongfoundation.com/images/img_buttons/btn_donatenow_lg.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                  </center>
                </div>

                <h2>
                  Donate By Check
                </h2>

                <p>
                  Please make your check payable to <b>"Gwendolyn Strong Foundation"</b> and send to:
                </p>

                <p>
                  Wells Fargo Bank<br>
                  1036 Anacapa Street<br>
                  Santa Barbara, California 93101<br>
                </p>

                <p>
                  As an alternative, you can give or send your check made payable to "Gwendolyn Strong Foundation" to any
                  <%= link_to "Wells Fargo Bank branch", "https://www.wellsfargo.com/locator/" %>.
                </p>
              </div>
          <b class="rnd2_bottom"><b class="rnd2_b4"></b><b class="rnd2_b3"></b><b class="rnd2_b2"></b><b class="rnd2_b1"></b></b> </div></td>
        </tr>
    </table></td>
    <td width="170" class="inrg"><table width="173" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="sidepic"><img src="images/img_pics/pic_about_side.jpg" alt="" width="170" height="255" /></td>
        </tr>
    </table></td>
  </tr>
</table>


</div>