%center
  %div{ :style => "width:480px;text-align:right;" }
    %embed{ :src => "http://static.pbsrc.com/flash/rss_slideshow.swf?rssFeed=http%3A%2F%2Ffeed654.photobucket.com%2Falbums%2Fuu269%2Fgwendolynstrong%2FGSF%2520Website%2520Gallery%2Ffeed.rss", :type => "application/x-shockwave-flash", :wmode => "transparent", :height => "360", :width => "480" }
    %a{ :href => "http://photobucket.com/redirect/album?showShareLB=1", :target => "_blank" }
      %img{ :src => "http://pic.pbsrc.com/share/icons/embed/btn_geturs.gif", :style => "border:none;" }
    %a{ :href => "http://s654.photobucket.com/albums/uu269/gwendolynstrong/GSF%20Website%20Gallery/", :target => "_blank" }
      %img{ :src => "http://pic.pbsrc.com/share/icons/embed/btn_viewall.gif", :style => "border:none;" }
