<div class="rnd2_content">

<center>
<div style="width:640px; text-align: center;">
  <embed type="application/x-shockwave-flash" wmode="transparent"
  src="http://w654.photobucket.com/pbwidget.swf?pbwurl=http://w654.photobucket.com/albums/uu269/gwendolynstrong/b824bc82.pbw" height="480" width="640">
    <a href="http://photobucket.com/slideshows" target="_blank"><img src="http://pic.photobucket.com/slideshows/btn.gif" style="float:left;border-width: 0;" ></a>
    <a href="http://s654.photobucket.com/albums/uu269/gwendolynstrong/?action=view&current=b824bc82.pbw" target="_blank">
  <img src="http://pic.photobucket.com/slideshows/btn_viewallimages.gif" style="float:left;border-width: 0;" ></a></div>
</center>

</div>