<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="170" class="inrg">
      <%= image_tag "posters/sponsor_button.jpg", :width => "300" %>
    </td>
    <td width="569" class="incontent">
      <table width="557" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><div id="rnd2_container"> <b class="rnd2_top"><b class="rnd2_b1"></b><b class="rnd2_b2"></b><b class="rnd2_b3"></b><b class="rnd2_b4"></b></b>
              <div class="rnd2_content">
                <%= image_tag "posters/sponsor_a_mile.jpg", :width => "500" %>
              </div>
          <b class="rnd2_bottom"><b class="rnd2_b4"></b><b class="rnd2_b3"></b><b class="rnd2_b2"></b><b class="rnd2_b1"></b></b> </div></td>
        </tr>
      </table>
    </td>
  </tr>
</table>


