<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>

    <td width="569" class="incontent">
      <table width="557" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><div id="rnd2_container"> <b class="rnd2_top"><b class="rnd2_b1"></b><b class="rnd2_b2"></b><b class="rnd2_b3"></b><b class="rnd2_b4"></b></b>
              <div class="rnd2_content" style="position:relative">
                <div style="z-index:0;">
                  <%= link_to (image_tag "posters/sponsor_a_mile.jpg", :width => "500", :border => "0"), page_donation_path %>
                </div>
                <div style="position:absolute;left:500px;top:0px">
                  <%= link_to (image_tag "posters/sponsor_button.gif", :width => "200", :border => "0"), page_donation_path  %>
                </div>
              </div>
          <b class="rnd2_bottom"><b class="rnd2_b4"></b><b class="rnd2_b3"></b><b class="rnd2_b2"></b><b class="rnd2_b1"></b></b> </div></td>
        </tr>
      </table>
    </td>
    <td width="170" class="inrg">
      <div style="margin-top:240px;text-align:center">
        <div id="rnd_container">
          <b class="rnd_top"><b class="rnd_b1"></b><b class="rnd_b2"></b><b class="rnd_b3"></b><b class="rnd_b4"></b></b>
          <div class="rnd_content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <div style="margin:10px">
                    Join our drive to End SMA! $10 per mile. Sponsor a mile (or several) to help find a cure!
                  </div>
                </td>
              </tr>
              <tr id="line">
                <td style="padding:25px 0px">
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="5826581">
                  <input type="image" src="http://www.gwendolynstrongfoundation.org/images/posters/btn_donatenow.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                  </form>
                </td>
              </tr>
              <tr id="xline">
                <td>
                  <div style="font-style:italic;font-size:85%">
                    Our application for tax exempt 501(c)(3) status is in process. While our application is pending, we cannot assure donors that contributions will be tax deductible.
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <b class="rnd_bottom"><b class="rnd_b4"></b><b class="rnd_b3"></b><b class="rnd_b2"></b><b class="rnd_b1"></b></b>
        </div>


      </div>
    </td>
  </tr>
</table>


