<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="lf"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <div id="rnd_container">
              <b class="rnd_top"><b class="rnd_b1"></b><b class="rnd_b2"></b><b class="rnd_b3"></b><b class="rnd_b4"></b></b>
              <div class="rnd_content">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2"><h1>Our Goals</h1></td>
                  </tr>
                  <tr>
                    <td width="21%"><img src="images/img_icons/icon_research.gif" alt="" width="38" height="38" /></td>
                    <td width="79%"><h2>Research</h2>
                    <p>Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p></td>
                  </tr>
                  <tr>
                    <td><img src="images/img_icons/icon_awareness.gif" alt="" width="38" height="38" /></td>
                    <td>
                      <a href="<%= url_for page_aboutsma_path %>">
                        <h2>Awareness</h2>
                        <p>Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="images/img_icons/icon_support.gif" alt="" width="38" height="38" /></td>
                    <td><h2>Support</h2>
                    <p>Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p></td>
                  </tr>
                </table>
              </div>
              <b class="rnd_bottom"><b class="rnd_b4"></b><b class="rnd_b3"></b><b class="rnd_b2"></b><b class="rnd_b1"></b></b>
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="secondlevel.html"><img src="images/img_buttons/btn_getinvolved.gif" alt="Get Involved - Find out what's new!" width="256" height="72" /></a></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="#"><img src="images/img_buttons/btn_newlydiagnosed.gif" alt="Newly Diagnosed? Click here" width="257" height="31" /></a></td>
        </tr>
    </table></td>
    <td class="content"><table width="414" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#45331A"><img src="images/img_pics/pic_gwendolyn_hp.jpg" alt="" width="414" height="284" /></td>
        </tr>
        <tr>
          <td id="note"><p><img src="images/img_headings/h_ourmission.gif" alt="Our Mission" width="137" height="26" /></p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</td>
        </tr>
        <tr>
          <td class="gallery"><h1>View Gallery</h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          <p><img src="images/img_pics/pic_gallery_strip.jpg" alt="" width="330" height="56" /></p></td>
        </tr>
    </table></td>
    <td class="rg"><table width="220" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <!--
            <div id="rnd_container">
              <b class="rnd_top"><b class="rnd_b1"></b><b class="rnd_b2"></b><b class="rnd_b3"></b><b class="rnd_b4"></b></b>
              
              <div class="rnd_content">
                <h1>Featured Video</h1>
                <img src="images/img_pics/pic_gwendolyn_video.jpg" alt="" width="190" height="120"/>
                <p>&nbsp;</p>
              </div>
              <b class="rnd_bottom"><b class="rnd_b4"></b><b class="rnd_b3"></b><b class="rnd_b2"></b><b class="rnd_b1"></b></b>
            </div>
            -->
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="#"><img src="images/img_buttons/btn_donatenow_lg.jpg" alt="Show your support - Donate Now!" width="220" height="61" /></a></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div id="rnd_container">
              <b class="rnd_top"><b class="rnd_b1"></b><b class="rnd_b2"></b><b class="rnd_b3"></b><b class="rnd_b4"></b></b>
              <div class="rnd_content">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr id="line">
                    <td width="34%"><img src="images/img_icons/icon_twitter.gif" alt="" width="48" height="48" /></td>
                    <td width="66%"><a href="#">Follow us on Twitter!</a>
                    <p>Doloremque laudantium, totam rem aperiam.</p></td>
                  </tr>
                  <tr id="xline">
                    <td><img src="images/img_icons/icon_fb.gif" alt="" width="48" height="48" /></td>
                    <td><a href="#">Cause on Facebook</a>
                    <p>Doloremque laudantium, totam rem aperiam.</p></td>
                  </tr>
                </table>
              </div>
              <b class="rnd_bottom"><b class="rnd_b4"></b><b class="rnd_b3"></b><b class="rnd_b2"></b><b class="rnd_b1"></b></b>
            </div>
          </td>
        </tr>
    </table></td>
  </tr>
</table>