<h1>Press</h1>


<ul>
  <% @presses.each do |press| %>
    <li>
      <%= press.story_date_at.strftime('%m/%d/%Y') %> - <%= link_to "#{press.item} - #{press.source}", press.link, :target => "_blank" %>
      <div><%= press.comment %></div>
    </li>
  <% end %>
</ul>
