<h1>Press</h1>


<ul>
  <li>
    <%= link_to "iParenting.com Dad Of The Month May 2009", "http://www.iparenting.com/dad/6443.php", :target => "_blank" %>
  </li>
  <li>
    KEYT-3 (ABC) Santa Barbara, CA story aired 6/17/09<br>
    <object height="264" width="320"><param name="movie" type="application/x-shockwave-flash" value="http://www.keyt.com/v/?i=48291472" /><param name="allowScriptAccess" value="always" /><param name="wmode" value="transparent" /><param name="AllowFullScreen" value="true" /><embed type="application/x-shockwave-flash" src="http://www.keyt.com/v/?i=48291472" AllowFullScreen="true" allowScriptAccess="always" height="264" wmode="transparent" width="320"></embed></object>
  </li>
  <li>
    <%= link_to "Couple finds strength in fighting for a cure - Daily Sound", "http://www.thedailysound.com/061909smatrip"%>
  </li>
</ul>
