<h1>Research</h1>

<p>Although SMA is not commonly known, SMA research is extremely mature and active. Dramatic breakthroughs have been made in the past fifteen years and, as a result of those breakthroughs, SMA has quickly gone from a poorly understood disease to being on the doorstep of a viable treatment. Towards that end, the National Institutes of Health (NIH) has coined SMA as the disease “closest to treatment” of more than 600 neurological disorders, and over 50 of the nation’s leading doctors and scientists, including Nobel Laureate James Watson, signed a statement stressing that with funding of $20 to $30 million annually, an effective therapy for SMA can be achieved in the near term of five years or less.</p>

<p>According to the NIH:<br>

<em>“Spinal Muscular Atrophy was chosen because of the severity of the disease, its relatively high incidence, and the fact that the gene has been identified and the gene product is known, resulting in leads on possible treatments. There is a gap in funding to advance research on SMA, but if progress can be made, it would have implications for other diseases."</em><p>

<p>In addition, the SMA translational research approach used by researchers is now considered a viable research "model” with the potential for enormous benefit to millions of people impacted by other diseases, including ALS/Lou Gehrig’s, Alzheimer’s, Parkinson’s, Duchenne Muscular Dystrophy, Fragile X, Tay Sachs Sandhoff, among others. So much is known about SMA and by finding a treatment and cure for it, the pathway to treatments and cures for many other diseases will become infinitely more attainable.</p>

<p>GSF seeks to collaborate with the SMA research organizations and the scientific community and help provide the resources necessary to make SMA a curable disease.</p>