<style>
  form {
    text-align: center;
  }

  #heading {
    font-weight: bold; 
    font-family: arial; 
    font-size: 18px; 
    color: #463319;
    margin-bottom: 1em;
  }

  .label {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: .25em;
  }

  #ea {
    font-size: 1.5em;
    -moz-border-radius: 15px;
    border-radius: 5px;    
    border: 1px solid #999999;
    padding: .25em
  }
  
  .submit {
    margin-top: 1em;
    font-size: 1.50em;
    padding: .50em 1em;
    width: 75px;
  }
</style>

<form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post"> 
  <input type="hidden" name="llr" value="najuaydab" /> 
  <input type="hidden" name="m" value="1103538824205" /> 
  <input type="hidden" name="p" value="oi" />
    <div id='heading'>VoteForSMA.com Daily Reminder Email</div> 
    <div>
      <label class="label" for="ea">Please enter your email:</label> 
    </div>
    <input type="text" name="ea" id="ea"/><br>
    <input type="submit" name="go" value="Join" class="submit"/> 
</form> 