<h1>The GSF Mission</h1>

<p>The Gwendolyn Strong Foundation (GSF) seeks to raise awareness about and fund research for Spinal Muscular Atrophy (SMA), the leading genetic killer of young children, and support those impacted by SMA and other life-altering diseases.</p>


<div style="margin:20px">
  <center><em>
      <%= link_to "Research", page_research_path %> |
      <%= link_to "Awareness", page_awareness_path %> |
      <%= link_to "Support", page_support_path %>
  </em></center>
</div>

<p>Given the advanced and promising stage of SMA research, GSF will raise funds to further support existing research programs in pursuit of ending this horrible disease. In addition, as SMA is a relatively common yet little known disease, it is our intention to elevate awareness of SMA, a critical component to the endeavor of procuring a viable treatment and eventually a cure. Further, as parents to a severely disabled and terminally-ill child, we understand the need for effective, proactive assistance. As such, it is our goal to create programs to assist others in their most urgent time of need.</p>